* {
    margin: 0px;
    padding: 0;
}

body {
    position: relative;  /*Vi tri tuong doi : phu thuoc vao chinh no*/

}


/* tieu de */
.titles {
    width: 98%;
    padding: 25px;
    height: 60px;
    background-color: white;
    display: flex;/**/
    justify-content: space-between;/**/
    position: fixed;/**/
    top: 0px;
}

.titles_item {
    display: flex;
}

.titles_item p {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-right: 50px;
    color: burlywood;
    font-size: 30px;
}

.titles_item a {
    color: purple;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
}

.titles_item i {
    color: purple;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 15px;
}

.tim {
    transition: 1s all;
    height: 20px;
}

.tim:hover {
    background-color: white;
    border-right: 100px solid white;
}
.all {
    height: 4800px;
    margin-top: 130px;
}
#myDiv {
    position: fixed;
    color: grey;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;/**/
    left: 50%;/**/
    transform: translate(-50%, -50%);/**/
    border-radius: 20px;
    width: 1695px;
    height: 1000px;
    margin: auto;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


#myDiv_item {
    border-radius: 20px;
    border: 3px solid whitesmoke;
    /* background-color: rgb(0, 255, 234); */
    background-color: antiquewhite;
    opacity: 1;/**/
    width: 450px;
    height: 550px;
    padding: 20px 20px;
    margin: 200px 900px;
}

/* Phan an nut shop va quang cao */
.all_nav {
    width: 80%;
    height: 300px;
    margin: 10px auto;
    justify-content: center;/**/
    background-image: url(/anh/anhcan1.jpg);
    background-position-x: 100%;/**/
    background-position-y: 80%;/**/
    background-size: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.all_nav1 {
    width: 80%;
    height: 300px;
    margin: 10px auto;
    justify-content: center;
    background-image: url(anh/ngua6.jpeg);
    background-size: contain; /* Khi thu nho man hinh thi no se keo dung kich thuoc cua hinh theo chieu hoc*/
    border: 20px dashed forestgreen;
    box-sizing: border-box;
    background-origin: border-box; /* net dut do vao tu phan border là phan anh*/
    background-position-x: 100%;
    background-position-y: 80%;
    background-size: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
}

/* chu y*/
.all_nav button {
    margin: 200px 280px;
    background-color: pink;
    width: 700px;
    height: 50px;
    color: aliceblue;
    border: 5px solid white;
    border-radius: 6px;

    transition: 1s all;
}
.all_nav1 button {
    margin: 200px 280px;
    background-color: green;
    width: 700px;
    height: 50px;
    color: aliceblue;
    border: 5px solid white;
    border-radius: 6px;

    transition: 1s all;
}
#myButton a {
    text-decoration: none;
}

/*chu y*/
#myButton:hover {
    background-color: greenyellow;
    border-left: 100px solid greenyellow;
}

#myButton2 a {
    text-decoration: none;
}

/*chu y*/
#myButton2:hover {
    background-color: greenyellow;
    border-left: 100px solid greenyellow;
}

.run {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;

    behavior: scroll;
    direction: left;
    background-color: aliceblue;
    border: 2px solid black;
}

.all_vas {
    width: 100%;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

@media (min-width: 740px) {
    .all_vas {
        flex-direction: row;
    }
}

.all_vas_item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_vas_item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.all_vas_item:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.all_vas_item:hover::after {
    position: absolute; /* Vi tri tuyet doi sẽ phụ thuộc vào element có thuộc tính position gần nhất.
    Và có thể di chuyển xong quanh element đó.*/
    top: 10%;
    left: 5%;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    color: aliceblue;
    border: 10px solid pink;
    border-radius: 5px;
}

.fation1:hover::after {
    content:
        "cá tính của phụ nữ phản ánh cá tính và tính cách của từng người phụ nữ. Mỗi người phụ nữ đều có sự khác biệt về tính cách, quan điểm, sở thích, đam mê, mục tiêu và ước mơ của mình.";
    color: black;

}

.fation2:hover::after {
    content:
        "Cái mạnh mẽ của phụ nữ có thể được thể hiện qua nhiều cách khác nhau. Đó có thể là sự quyết đoán trong việc đưa ra quyết định, sự kiên trì và nỗ lực để đạt được mục tiêu, khả năng thích nghi với các tình huống khó khăn và giữ vững tinh thần lạc quan trong mọi hoàn cảnh.";
    color: black;
}

.fation3:hover::after {
    content:
        "nghệ thuật biểu đạt sự duyên dáng, tinh tế, thanh lịch và tôn kính của phụ nữ trong mọi hoàn cảnh và trường hợp. Đây là một đức tính và phẩm chất đặc trưng của phụ nữ, giúp họ trở nên đẹp hơn và tỏa sáng trong mắt mọi người.";
    color: black;
}

.fation4:hover::after {
    content:contene
        "Phong cách của một người phụ nữ có thể thay đổi theo thời gian, theo từng giai đoạn cuộc đời và theo từng hoàn cảnh khác nhau. Tuy nhiên, nó vẫn thể hiện được sự độc đáo và cá tính của người phụ nữ đó.";
    color: black;
}

.all_vas_item strong {
    color: pink;
    position: absolute;
    margin: auto;
    font-size: 30px;
    transition: transform 0.2s ease-in-out;
    display: block;
}

.all_vas_item:hover strong {
    display: none;
}

.imgg{
    width: 100%;
    height: 150px;
    background: url(anh/babau1.jpg) no-repeat center / contain;
    margin-bottom: 20px;
}
.contene {
    scroll-behavior: smooth;
    width: 98%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.contene_list {
    width: 20%;
    height: 1170px;
    background: url(anh/ngua.jpg) no-repeat;
    border-radius: 10px;
    padding: 10px 10px;
    color: aliceblue;
}

.contene_list ul {
    display: block;
    list-style-type: disc;
    margin: 0 1em 0 1em;
}

.contene_list_right {
    width: 80%;
    margin-left: 10px;


}

.contene_list1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 740px) {
    .contene_list1 {
        flex-direction: row;
    }
}

#myDiv2 {
    width: 100%;
    /* height: ; */
    /* top: 50%;
    left: 50%;
    transform: translate(-10%, -50%); */
    margin-top: 20px;
    margin: auto;
}

.contene_list1_item {
    padding: 20px 14px;
    flex-basis: 20%;
    justify-content: center;
    font-size: 10px;
    text-align: center;
    border: 5px solid red;
    border-radius: 5px;
    margin-left: 35px;


}

.contene_list1_item:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.contene_list1_item button {
    background-color: dodgerblue;
    color: antiquewhite;
    border-radius: 5px;
}

.contene_list1_item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid yellowgreen;
}

.contene_list_top {
    width: 100%;
    height: 97%;
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;

}


/* .hidden {
    display: none;
} */
.contene_list_bottom {
    width: 100%;
    height: 3%;
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;

}
#mySection{
    background-color:blue ;
}
.contene_list_bottom button {
    background-color: transparent;
    outline: none;
    margin-left: 20px;

}

.contene_all {
    height: 100vh;
    margin: auto;
    display: flex;
    /* flex-direction: column;
    padding-left: 300px; */
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-height: 120px;
    transform: opacity .2s ease;
    border: 2px si
}

.btn+.btn {
    margin-left: 16px;
}

.btn--success {
    background-color: aquamarine;
}

.btn--warn {
    background-color: bisque;
}

.btn--danger {
    background-color: brown;
}

.btn--size-l {
    padding: 16px 56px;
}

.btn--size-s {
    padding: 8px 32px;
}

.btn:hover {
    opacity: 0.8;
}

.num2_all{
    width: 98%;
    height: 1000px;
    scroll-behavior: smooth;
    padding-left: 16px;
}
.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: aliceblue;
}

.form__row {
    padding: 8px 0;
    display: flex;
}

.form__label {
    min-width: 90px;

}

.form__input {
    flex: 1;

}

.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: antiquewhite;
    display: flex;
}

.column-item {
    padding: 0 16px;
}

.sidebar-one {
    flex: 1;
    order: 2;
}

.sidebar-two {
    flex: 1;
    order: 3;

}

.main-column {
    flex: 3;
    order: 1;
}

.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap-reverse; */
    flex-direction: column;
}

@media (min-width: 740px)
{
    .feature-layout{
        flex-direction: row;
    }
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: rgb(192, 30, 67);
}

.feature-item:nth-child(2) {
    background-color: rgb(192, 227, 67);
}

.feature-item:nth-child(3) {
    background-color: rgb(68, 227, 124);
}

.wrap-layout {
    background-color: aliceblue;
    margin-top: 36px;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrap-layout__item {
    width: 148px;
    height: 90px;
    color: aliceblue;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    background-color: brown;
}
.center_layout_all{
    width: 100%;
    height: 500px;
    background-image:url(/anh/kinhso1vs1.png), url(/anh/hehe.jpeg);
    background-position: top 20% right 100px;
    background-repeat: repeat;
}
.center-layout {
    background-image: linear-gradient(45deg, rgba(255,255,0,0.5), #cc3838), url(anh/kinh3.jpeg) ;
    background-size: cover;
    margin: 10px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;
}



.center-layout__item {
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}

.chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.chart-layout__item {
    align-self: flex-end;
    width: 60px;
    color: aliceblue;
    text-align: center;
    height: var(--percent);
    background-position-x: -50px;
    background-size: 170px  auto;
    animation: growth ease-in 0.5s;
}
.chart-layout__item:nth-child(1) {
    background-image:url(anh/ngua.jpg);
}
.chart-layout__item:nth-child(2) {
    background-image:url(anh/ngua2.jpg);
}
.chart-layout__item:nth-child(3) {
    background-image:url(anh/ngua3.jpg);
}
.chart-layout__item:nth-child(4) {
    background-image:url(anh/ngua4.jpg);
}
.chart-layout__item:nth-child(5) {
    background-image:url(anh/ngua5.jpg);
}
.chart-layout__item:nth-child(6) {
    background-image:url(anh/ngua5.jpg);
}
.chart-layout__item:nth-child(7) {
    background-image:url(anh/ngua2.jpg);
}
.chart-layout__item:nth-child(8) {
    background-image:url(anh/ngua3.jpg);
}
.chart-layout__item:nth-child(9) {
    background-image:url(anh/ngua4.jpg);
}
.chart-layout__item:nth-child(10) {
    background-image:url(anh/ngua5.jpg);
}


@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }

    to {
        opacity: 1;
        height: var(--percent);
    }
}

.the-end {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
    flex-direction: row-reverse;

}

.the-end__first {
    padding: 4px 16px;
    background-color: antiquewhite;
    flex:1;
}

.the-end__second {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.the-end__second-one {
    flex:1;
    padding: 4px 16px;
    flex-direction: column; 
     background-color: rgb(227, 192,43);
}

.the-end__second-two {
    flex: 1;
    padding: 4px 16px;
    background-color: rgb(227, 102,53);
}

.end {
    width: 100%;
    background-color: red;
    height: 100px;
    
    margin-bottom: 0px;
    


}